<div class="media media-post user-not-logged-in">
  <div class="media-body">
    <form class="form">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group bmd-form-group">
            <input type="text" class="form-control" placeholder="Your Name">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group bmd-form-group">
            <input type="email" class="form-control" placeholder="Your email">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="bmd-form-group">
            <textarea class="form-control" placeholder="Write some nice stuff or nothing..." rows="6"></textarea>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="media-footer col-md-12">
          <h6>Sign in with</h6>
          <a href="" class="btn btn-just-icon btn-round btn-twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="" class="btn btn-just-icon btn-round btn-facebook">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a href="" class="btn btn-just-icon btn-round btn-google">
            <i class="fa fa-google-plus-square"></i>
          </a>
          <a href="#pablo" class="btn btn-primary float-right">Post Comment</a>
        </div>
      </div>
    </form>
  </div>
  <!-- end media-body -->
</div>
