<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">New category</h4>
      </div>
      <%= render 'form', category: @category %>
    </div>
  </div>
</div>
