<footer class="footer fixed-bottom" data-background-color="black">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="#">
              Progress KA
            </a>
          </li>
          <li>
            <a href="#">
              About Us
            </a>
          </li>
          <li>
            <a href="#">
              Blog
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        ©
        <script>
          document.write(new Date().getFullYear())
        </script>, Developed by
        <a href="http://mapunity.in" target="_blank">Mapunity</a>
      </div>
    </div>
  </footer>
